{% extends 'base.html' %}

{% block head %}
<title> Registration Page </title>
{% endblock %}

{% block body %}
<!--registration form-->
<form method="POST" action=""></form>
    {{form.hidden_tag()}}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        <div class="form-group">
            <!--username field-->
            {{form.username.label(class="form-control-label")}}
            <!--if errors, display field then display errors-->
            {% if form.username.errors %}
                {{form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
            <!--else display field-->
            {% else %}
                {{form.username(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            <!--email field-->
            {{form.email.label(class="form-control-label")}}
            <!--if errors, display field then display errors-->
            {% if form.email.errors %}
                {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                </div>
             <!--else display field-->
            {% else %}
                {{form.email(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            <!--password field-->
            {{form.password.label(class="form-control-label")}}
            <!--if errors, display field then display errors-->
            {% if form.password.errors %}
                {{form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                </div>
             <!--else display field-->
            {% else %}
                {{form.password(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            <!--confirm password field-->
            {{form.confirmPassword.label(class="form-control-label")}}
            <!--if errors, display field then display errors-->
            {% if form.confirmPassword.errors %}
                {{form.confirmPassword(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.confirmPassword.errors %}
                        <span>{{error}}</span>
                        {% endfor %}
                </div>
             <!--else display field-->
            {% else %}
                {{form.confirmPassword(class="form-control form-control-lg")}}
            {% endif %}
        </div>
    </fieldset>
    <!-- submit button-->
    <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
    </div>
</form>

<div class="border-top pt-3 mb-5">
    <small class="text-muted">
        Already have an account? <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
    </small>
</div>
{% endblock %}